<section id="fabrikSiteAccueil_anchorId" class="moduleDefault _fabrikSiteAccueilContainer BxAnim animBxFade__Out">
    <div class="moduleDefaultContainer bxrow">
        <div class="imgStructure bxd5 bxt12">
            <img class="image BxAnim animBxFadeRight__Out" src="/assets/img/modules/accueil/module_FabrikSite/FabrikRight.png" alt="{{ fabrikSiteAccueil.altImg|raw }}">
            <img class="laptop BxAnim animBxFadeRight3__Out" src="/assets/img/modules/accueil/module_FabrikSite/Laptop.png">
        </div>
        <div class="divStructure bxd7 bxt12">
            <h2 class="titrePage BxAnim animBxFadeBottom2__Out">{{ fabrikSiteAccueil.titre|raw }}</h2>
            <p class="sousTitreSection_2">
                <span class="BxAnim animBxFadeBottom2__Out">{{ fabrikSiteAccueil.sousTitre|raw }}</span>
                <span class="barHorizontal BxAnim animBxFadeLeft2__Out"></span>
            </p>
            <p class="textParagraphe BxAnim animBxFadeBottom__Out">{{ fabrikSiteAccueil.text|raw }}</p>
            <div class="btnContent BxAnim animBxFadeBottom2__Out">
                <a href="/creation-de-site" class="btnDefault lbiHover hoverTranslate transition250">{{ fabrikSiteAccueil.textBtn|raw }}</a>
            </div>
        </div>
    </div>
</section>
