<section id="introductionAccueil_anchorId" class="moduleDefault _introductionAccueilContainer BxAnim animBxFade__Out">
    <img src="/assets/img/modules/accueil/module_Introduction/backgroundIntroduction.svg" class="leftShape BxAnim animBxFadeRight3__Out">
    <div class="moduleDefaultContainer">
        <div class="introductionTextStructure bxrow">
            <div class="imgStructure bxd6 bxt12"> 
                <img src="/assets/img/modules/accueil/module_Introduction/imgRightIntroduction.png" class="image BxAnim animBxFadeRight__Out" alt=" {{ introductionAccueil.imgAlt }}">
            </div>
            <div class="divStructure bxd6 bxt12">
                <span class="squarre BxAnim animBxFadeLeft3__Out"></span>
                <h1 class="titre">
                    <span class="titrePage_nexa BxAnim animBxFadeBottom2__Out">{{ introductionAccueil.titre|raw }}</span>
                    <span class="titreSection_2 BxAnim animBxFadeBottom2__Out">{{ introductionAccueil.sousTitre|raw }}</span>
                </h1>
                <p class="textParagraphe BxAnim animBxFadeBottom__Out">{{ introductionAccueil.text|raw }}</p>
                <div class="btnContent BxAnim animBxFadeBottom2__Out">
                    <a href="/la-boite" class="btnDefault lbiHover hoverTranslate transition250"> {{ introductionAccueil.textBtn|raw }}</a>
                    <img src="/assets/img/modules/accueil/module_Introduction/dot_1_introduction.png" class="dot BxAnim animBxFade__Out">
                </div>
            </div>
        </div>
        <div class="mouseSlideBottomContent BxAnim animBxFade__Out">
            <span class="mouseIcon"></span>
        </div>
    </div>
</section>
