<section id="logicielHektorAccueil_anchorId" class="moduleDefault _logicielHektorAccueilContainer BxAnim animBxFade__Out">
    <div class="moduleDefaultContainer">
        <img src="/assets/img/modules/accueil/module_Hektor/backgroundLeft.svg" class="beforeShape BxAnim animBxFadeLeft3__Out">
        <div class="logicielHektorTitreStructure">
            <h2 class="titreContent">
                <span class="titrePage BxAnim animBxFadeBottom2__Out">{{ logicielHektorAccueil.titre|raw }}</span>
                <span class="sousTitreSection BxAnim animBxFadeBottom2__Out">{{ logicielHektorAccueil.sousTitre|raw }}</span>
                <span class="barHorizontal BxAnim animBxFadeTop__Out"></span>
            </h2>
            <img class="imgPresentationHektor BxAnim animBxFadeBottom__Out" src="/assets/img/modules/accueil/module_Hektor/presentationHektor.png" alt="{{ logicielHektorAccueil.altImg|raw }}">
            <p class="titreSection_2 BxAnim animBxFadeBottom2__Out">{{ logicielHektorAccueil.sousTitre2|raw }}</p>
            <p class="textDescription textParagraphe BxAnim animBxFadeBottom__Out">{{ logicielHektorAccueil.text|raw }}</p>
            <div class="btnContent BxAnim animBxFadeBottom2__Out">
                <a href="/logiciel-immobilier" class="btnDefault hektorHover hoverTranslate transition250">{{ logicielHektorAccueil.textBtn|raw }}</a>
            </div>
        </div>
        <img src="/assets/img/modules/accueil/module_Hektor/backgroundRight.svg" class="afterShape BxAnim animBxFadeRight3__Out">
    </div>
</section>
