<section id="newsletterAccueil_anchorId" class="moduleDefault _newsletterAccueilContainer BxAnim animBxFade__Out">
    <div class="moduleDefaultContainer bxrow">
        <div class="newsletterInscriptionStructure BxAnim animBxFadeLeft2__Out bxd8 bxt12">
            <div class="newsletterInscriptionContent bxrow">
                <div class="contextContent bxld17">
                    <img class="iconElement BxAnim animBxFadeLeft__Out" src="/assets/img/modules/accueil/module_Newsletter/emailEnveloppe.svg" alt="{{ newsletterAccueil.altImg|raw }}">
                    <p class="titreSection BxAnim animBxFadeLeft__Out">{{ newsletterAccueil.titre|raw }}</p>
                    <p class="textParagraphe BxAnim animBxFadeLeft__Out">{{ newsletterAccueil.text|raw }}</p>
                    <div class="inscriptionContent BxAnim animBxFadeLeft__Out">
                        <input type="text" class="inputForm" placeholder="{{ newsletterAccueil.placeHolderEmail|raw }}">
                        <button class="btnDefault btnEnvoi lbiRaw transition250">{{ newsletterAccueil.textBtn|raw }}</button>
                    </div>
                    <p class="textConditions BxAnim animBxFadeLeft__Out">{{ newsletterAccueil.textCondition|raw }}</p>
                </div>
                <span class="imgContent bxld7"></span>
            </div>
        </div>
        <div class="brochureImgStructure bxd4 bxt12 BxAnim animBxFadeRight2__Out">
            <div class="brochureImgContent">
                <img class="icon BxAnim animBxFadeRight__Out" src="/assets/img/modules/accueil/module_Newsletter/downloadIcon.svg" alt="{{ newsletterAccueil.altImgBrochure|raw }}">
                <p class="sousTitreSection BxAnim animBxFadeRight__Out">{{ newsletterAccueil.titreBrochure|raw }}</p>
                <img class="image BxAnim animBxFadeRight__Out" src="/assets/img/modules/accueil/module_Newsletter/brochureLbi.png" alt="{{ newsletterAccueil.altImgBrochure2|raw }}">
            </div>
        </div>
    </div>
</section>
