<section id="referencementAccueil_anchorId" class="moduleDefault _referencementAccueilContainer BxAnim animBxFade__Out">
    <div class="moduleDefaultContainer bxrow">
        <div class="imgStructure bxld13 bxt12">
            <img class="image BxAnim animBxFadeLeft__Out" src="/assets/img/modules/accueil/module_Referencement/referencementLeft.png" alt="{{ referencementAccueil.altImg|raw }}">
            <span class="squarre BxAnim animBxFadeLeft3__Out"></span>
        </div>
        <div class="divStructure bxld11 bxt12">
            <h2 class="titrePage BxAnim animBxFadeBottom3__Out">{{ referencementAccueil.titre|raw }}</h2>
            <p class="sousTitreSection_2">
                <span class="BxAnim animBxFadeBottom3__Out">{{ referencementAccueil.sousTitre|raw }}</span>
                <span class="barHorizontal BxAnim animBxFadeRight2__Out"></span>
            </p>
            <p class="textParagraphe BxAnim animBxFadeBottom__Out">{{ referencementAccueil.text|raw }}</p>
            <div class="btnContent BxAnim animBxFadeBottom3__Out">
                <a href="/referencement" class="btnDefault lbiHover hoverTranslate transition250">{{ referencementAccueil.textBtn|raw }}</a>
            </div>
        </div>
    </div>
</section>
