<section id="creationLogoIdentiteVisuelle_anchorId" class="moduleDefault _creationLogoIdentiteVisuelleContainer BxAnim animBxFade__Out">
    <div class="moduleDefaultContainer bxrow">
        <div class="imgStructure bxd6 bxt12">
            <img class="image BxAnim animBxFadeBottom__Out" src="/assets/img/modules/identiteVisuelle/module_creationLogo/logoIllustration.png" alt="illustration section la boite immo academy">
        </div>
        <div class="divStructure bxd6 bxt12">
            <h2 class="titreSection BxAnim animBxFadeBottom__Out">{{ creationLogoIdentiteVisuelle.titre|raw }}</h2>
            <p class="textParagraphe BxAnim animBxFadeBottom__Out">{{ creationLogoIdentiteVisuelle.text|raw }}</p>
        </div>
        <div class="bxd12 divStructure_2 bxrow">
            <div class="bxd6 bxt12 divContent divImgContent_1 BxAnim animBxFadeBottom__Out">
                <img class="image" src="/assets/img/modules/identiteVisuelle/module_creationLogo/creationAgence.png" alt="illustration section la boite immo academy">
            </div>
            <div class="bxd6 bxt12 divContent divImgContent_2 BxAnim animBxFadeBottom__Out">
                <img class="image" src="/assets/img/modules/identiteVisuelle/module_creationLogo/refonteLogo.png" alt="illustration section la boite immo academy">
            </div>
            <div class="bxd6 bxt12 divContent divTextContent_1 BxAnim animBxFadeBottom__Out">
                <div class="textContent">
                    <p class="sousTitreSection_2">{{ creationLogoIdentiteVisuelle.titreBottom1 }}</p>
                    <p class="textParagraphe">{{ creationLogoIdentiteVisuelle.textBottom1 }}</p>
                </div>
            </div>
            <div class="bxd6 bxt12 divContent divTextContent_2 BxAnim animBxFadeBottom__Out">
                <div class="textContent">
                    <p class="sousTitreSection_2">{{ creationLogoIdentiteVisuelle.titreBottom2 }}</p>
                    <p class="textParagraphe">{{ creationLogoIdentiteVisuelle.textBottom2 }}</p>
                </div>
            </div>
        </div>
        <div class="bxd12 divBottom">
            <p class="textBottom titreSection_2 BxAnim animBxFadeBottom__Out">{{ creationLogoIdentiteVisuelle.textBottom3 }}</p>
            <button class="btnDefault BxAnim lbiHoverWhite hoverTranslate BxAnim animBxFadeBottom__Out">{{ creationLogoIdentiteVisuelle.textBtn }}</button>
        </div>
    </div>
</section>
