<section id="explicationIdentiteVisuelle_anchorId" class="moduleDefault _explicationIdentiteVisuelleContainer BxAnim animBxFade__Out">
    <div class="moduleDefaultContainer bxrow">
        <div class="titreContent bxd12">
            <h2 class="titreSection BxAnim animBxFadeBottom__Out">{{ explicationIdentiteVisuelle.titre|raw }}</h2>
        </div>
        <div class="divStructure bxld9 bxt12">
            <p class="textParagraphe BxAnim animBxFadeBottom__Out">{{ explicationIdentiteVisuelle.text1|raw }}</p>
        </div>
        <div class="imgStructure bxld15 bxt12">
            <img class="image BxAnim animBxFadeBottom__Out" src="/assets/img/modules/identiteVisuelle/module_explication/explication1.png" alt="{{ explicationIdentiteVisuelle.altImg1 }}">
        </div>
        <div class="imgStructure_2 BxAnim animBxFadeBottom__Out bxld15 bxt12">
            <img class="image" src="/assets/img/modules/identiteVisuelle/module_explication/explication2.png" alt="{{ explicationIdentiteVisuelle.altImg2 }}">
        </div>
        <div class="divStructure divStructure_2 bxld9 bxt12">
            <p class="textParagraphe BxAnim animBxFadeBottom__Out">{{ explicationIdentiteVisuelle.text2|raw }}</p>
        </div>
        <div class="bottomStructure bxd12">
            <img class="icon BxAnim animBxFadeBottom__Out" src="/assets/img/modules/identiteVisuelle/module_explication/picto.svg">
            <p class="textParagraphe BxAnim animBxFadeBottom__Out">{{ explicationIdentiteVisuelle.textBottom1|raw }}</p>
            <p class="textBottom titreSection_2 BxAnim animBxFadeBottom__Out">{{ explicationIdentiteVisuelle.textBottom2|raw }}</p>
        </div>
    </div>
</section>
