<section id="introductionLogicielImmobilier_anchorId" class="moduleDefault _introductionLogicielImmobilierContainer BxAnim animBxFade__Out">
    <div class="moduleDefaultContainer bxrow">
        <img class="shapeAbsolute" src="/assets/img/modules/logicielImmobilier/module_hektor/shape_left.svg">
        <div class="bxld13 bxt12 imageStructure">
            <img class="image BxAnim animBxFadeBottom__Out" src="/assets/img/modules/logicielImmobilier/module_hektor/background_right.png" alt="{{ introductionLogicielImmobilier.altImg|raw }}">
        </div>
        <div class="bxld11 bxt12 divStructure">
            <div class="divContent">
                <img class="logo BxAnim animBxFadeBottom__Out" src="/assets/img/modules/logicielImmobilier/module_hektor/logoHektor.png" alt="{{ introductionLogicielImmobilier.altLogo|raw }}">
                <h1 class="sousTitreSection BxAnim animBxFadeBottom__Out">{{ introductionLogicielImmobilier.titre|raw }}</h1>
                <p class="textParagraphe BxAnim animBxFadeBottom__Out">{{ introductionLogicielImmobilier.sousTitre|raw }}</p>
                <p class="textParagraphe BxAnim animBxFadeBottom__Out">{{ introductionLogicielImmobilier.text|raw }}</p>
                <button class="btnDefault BxAnim animBxFadeBottom__Out hektorHover hoverTranslate transition250">{{ introductionLogicielImmobilier.textBtn|raw }}</button>
            </div>
        </div>
    </div>
</section>
